.nav-link{
  position: relative;
  padding: 5px 30px; /* Adjust the padding as needed */
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  text-decoration: none;
  color: #c83b3b; /* Link text color */
  transition: color 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s; /* Transition effect for a smooth hover effect */

}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #ff8c00, rgb(244, 205, 9)); /* Adjust gradient colors as needed */
  transition: width 0.3s;
}

.nav-link:hover {
  color: #ff8c00; /* Change the color on hover if desired */
}

.nav-link:focus {
  outline: none;
}

.nav-link:focus::before,
.nav-link.active::before {
  width: 100%;
}
